@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --color-bg: #0B2447;
    --color-secondary-bg: #19376D;
    --color-477bad: #477bad;
    --color-light-blue: #A5D7E8;
    --color-text: #d5eaf0;
    --color-star: #D4AF37;
    --color-soft-red: #F47174;
    --color-soft-gray: #aaa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth !important;
    font-family: poppins, sans-serif !important;
    list-style: none;
    scroll-margin-top: 125px;
    
}
*:focus {
    outline: 0.5px solid var(--color-477bad);

}

html {
    overflow-x: hidden;
    overflow: overlay;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
}

section {
    margin-top: 125px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

h1 {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
    padding-left: 10px;
}

h2 {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}

button {
    padding: 5px 10px;
    height: 52px;
    width: 60px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--color-secondary-bg);
    color: var(--color-light-blue);
    transition: background-color 0.5s ease-out;
}

button:hover {
    background-color: var(--color-light-blue);
    color: var(--color-secondary-bg);
    box-shadow: var(--color-secondary-bg) 0px 0px 10px 0px;
}

::placeholder {
    color: var(--color-light-blue);
    opacity: 0.5;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(165, 215, 232, 0.15);
    border-radius: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color;
    transition-delay: 5000s;
    -webkit-text-fill-color: var(--color-light-blue);
}

.container .content-img {
    width: 35%;
    border-radius: 10px;
    box-shadow: var(--color-light-blue) 0px 0px 20px 0px;
    transition: scale 0.5s ease-out;
}

.container .content-img:hover {
    scale: 1.05;
}

/* Helper */
.active {
    top: 80px !important;
}

.menu-open span{
    background: var(--color-soft-red) !important;
    border-radius: 5px;
}
.menu-open span:nth-of-type(1) {
    transform: translateY(9px) rotate(45deg) 
}
.menu-open span:nth-of-type(2) {
    opacity: 0;
    scale: 0;
}
.menu-open span:nth-of-type(3) {
    transform: translateY(-9px) rotate(-45deg) 
}

.item-active {
    display: block !important;
    transition: display 0.5ms;
}

.cat-content-active {
    text-decoration: underline;
}

.cat-gallery-display-none {
    display: none !important;
}



/* Header */
#logo {
    transition: cubic-bezier(0, 2.28, 0.95, 0.69) 0.5s;
}

.logo {
    display: flex;
    align-items: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 10%;
    z-index: 1;
    box-shadow: black 0px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bg);
}

.header img {
    height: 50px;
    filter: invert(1);
}

.navbar {
    margin: 0;
}

.navbar li {
    display: inline-block;
    margin: 0 20px;
    transition: color 0.5s;
}

.navbar li:hover {
    color: var(--color-light-blue);
}

.navmenu {
    display: none;
    background-color: inherit;
}

.navmenu:hover {
    background-color: inherit;
    box-shadow: none;
}

.navmenu span {
    display: block;
    position: relative;
    z-index: 1;
    margin: 6px;
    width: 40px;
    height: 3px;
    background: #A5D7E8;
    transition: all 0.5s ease-out;
}

/* Section 1 */
.information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.main-text {
    width: 65%;

}

.carousel-wrapper {
    height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.main-text p {
    font-size: 24px;
    font-weight: 300;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.button-list {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    padding-left: 0;
}

.button-list li button img {
    height: 65%;
    filter: invert(1);
}

/* Section 2 */

.section-desc {
    width: 70%;
    margin: 0 auto 20px;
    text-align: center;
    color: var(--color-soft-gray);
}

.content-changer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.content-changer button {
    width: 180px;
    box-shadow: none;
}

.cat-photos,
.cat-videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cat-videos {
    height: 769px;
    padding: 0;
    overflow-y: overlay;
    flex-direction: column;
    justify-content: center;
}

.cat-photos div {
    width: 400px;
    height: 550px;
    margin: 20px 0;
    background-color: var(--color-secondary-bg);
    border-radius: 10px;
}

.cat-photos div img {
    width: inherit !important;
    height: 70%;
    min-height: 450px;
    object-fit: cover;
}

.cat-photos div p {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    padding: 20px 10px;
    text-align: center;
}

.embed-video {
    width: 45%;
    height: 350px;
    margin: 10px 2.5%;
}

/* Section 3 */
.rates {
    display: flex;
    overflow-x: scroll;
    border-top: var(--color-light-blue) 2.5px solid;
    border-bottom: var(--color-light-blue) 2.5px solid;
}

.customer {
    width: 300px;
    height: 500px;
    margin: 20px 20px;
    background-color: var(--color-secondary-bg);
    border-radius: 50px;
    flex-shrink: 0;
    transition: all .65s ease-in-out;
}

.customer:hover {
    scale: 1.05;
    rotate: var(--int-rand);
}

.rates .stars {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 50px;
}

.star-rate-1 i:nth-child(-n+1) {
    color: var(--color-star);
}

.star-rate-2 i:nth-child(-n+2) {
    color: var(--color-star);
}

.star-rate-3 i:nth-child(-n+3) {
    color: var(--color-star);
}

.star-rate-4 i:nth-child(-n+4) {
    color: var(--color-star);
}

.star-rate-5 i:nth-child(-n+5) {
    color: var(--color-star);
}

.rates img {
    width: 100%;
    box-shadow: none;
}

.rates img:hover {
    scale: none;
}

.rates p {
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

/* Section 4 | Contact */

.contact-form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 50px auto;
    width: 80%;
}

.input-h {
    background-color: var(--color-secondary-bg);
    border-radius: 15px;
    color: var(--color-light-blue);
    flex-grow: 1;
}

input.input-h {
    padding: 10px;
}

.input-h input,
.input-h textarea {
    padding: 10px;
    width: 100%;
    border-radius: inherit;
    background-color: inherit;
    color: inherit;
}

.input-required {
    display: none;
    height: 16px;
    width: 16px;
    position: absolute;
    padding: 0;
    background-color: transparent;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-soft-red);
}

.message-box .input-required {
    top: 20px;
    right: 10px;
}

.input-required:hover::before {
    font-family: inherit !important;
    content: 'You have to fill this!';
    width: max-content;
    color: yellow;
    position: absolute;
    right: 35%;
}

.input-h input:invalid+.input-required {
    display: block;
}

.input-h #message:placeholder-shown+.input-required {
    display: block;
}

.contact-form>.input-h {
    position: relative;
    width: 40%;
}

#subject {
    width: 100%;
}

#message {
    resize: none;
    height: 250px;
    width: 100%;
}

#submit {
    position: absolute;
    right: 8px;
    bottom: 8px;
    width: 70px;
    border: 2px var(--color-light-blue) solid;
}

#submit:focus {
    outline: 2px solid var(--color-soft-red);
}

/* Footer */
.flaticon {
    display: block;
    width: fit-content;
}
.topper {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-477bad);
    border-radius: 46%;
    transition: all .5s ease-in-out;
}
/*Media Query*/
@media only screen and (max-width: 1150px) {
    .navmenu {
        display: block;
    }

    .navbar {
        position: absolute;
        top: -300px;
        right: 0;
        width: 100%;
        flex-direction: column;
        background-color: var(--color-secondary-bg);
        padding: 30px;
        box-shadow: var(--color-light-blue) 0px 0px 20px 0px;
        transition: top 0.5s ease-out;
    }
}

@media only screen and (max-width: 1024px) {
    .main-text {
        height: 300px;
    }

    .navbar li {
        margin: 10px 0;
        border-bottom: var(--color-star) 1px solid;
    }

}

@media screen and (max-width: 980px) {
    .information .main-text {
        width: 100%;
        margin-bottom: 135px;
    }

    .information img {
        flex-grow: 1;
    }

    .cat-photos div {
        width: 100%;
    }

    .cat-videos {
        height: 800px;
    }

    .embed-video {
        width: 100%;
        margin: 10px;
    }

    .contact-form>.input-h {
        width: 50%;
    }

    .rates {
        width: 100%;
    }

    .customer {
        margin-left: 5px;
        width: 300px;
    }

    .flaticon {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .content-changer {
        width: 100%;
        flex-wrap: wrap;
    }

    .content-changer button {
        margin: 20px;
        width: 300px;
    }
}